@charset "UTF-8";

.main {
	    width : 1450px;
	    margin: 0 auto 15px auto;
    }
    
    .main:after {
    	content: ''; display: block; clear: both;
    }
    
    .boardArea {
	    width : 1200px;
	    float : right;   
    }
    
    #boardTitle h2, p {
    	margin : 7px 0;
    }
    
    #content {
    border : 1px solid lightgray;
    padding: 20px 20px;
    border-radius: 5px;
    height: 775px;
	}

	#btitle {
    width : 1050px;
    height : 40px;
    font-size: 15px;
    border : 1px solid lightgray;
    border-radius: 2px;
	}
	
	#btitle:focus {
	outline : 1px solid cornflowerblue;
	}

	#submitBtn {
    width : 93px;
    height : 44px;
    background: orange;
    border : none;
    border-radius: 3px;
    color : white;
    font-size: 17px;
    font-weight: bold;
    margin-left : 7px;
	}
	
	#submitBtn:hover {
		cursor : pointer;
	}

	
	#bfile {
		padding : 15px 0;
	}
	
	.ck-editor__editable {
	    min-height: 650px;
	}
	
	#top {
		display:flex;
		align-items: center;
		padding-bottom : 10px;
	}