@charset "UTF-8";

    .main {
        width : 1450px;
        margin: 0 auto 15px auto;
    }
    
    .main:after {
    	content: ''; display: block; clear: both;
    }
    
    .boardArea {
	    width : 1200px;
	    float : right;   
    }
    
	.postArea {
	    border-bottom : 1px solid lightgray;
	    padding-bottom : 10px;
	}
	
	#tableArea {
	    border-collapse: collapse;
	}
	
	#tableArea th:first-child {
	    text-align: left;
	    font-size: 25px;
	    width: 900px;
	}
	
	#tableArea th:last-child {
	    text-align: right;
	    font-weight: normal;
	}
	
	#tableArea td:first-child {
	    font-weight: bold;
	}
	
	#tableArea td {
	    border-bottom : 1px solid lightgray;
	    height : 35px;
	}
	
	#tableArea span {
		font-weight : normal;
	}
	
	#content {
	    border : 1px solid lightgray;
	    padding: 20px 20px;
	    border-radius: 5px;
	    
	}
	
	
	#likeArea>span {
		display: table-cell;
		vertical-align: middle;
		font-size : 18px;
		font-weight : bold;
		width : auto;
		height : 35px;
		padding : 0 10px;
		border : 1px solid orange;
		border-radius : 3px;
		background : rgb(255, 244, 230);
	}
	
	#likeArea i{
	    padding-right : 7px;
	}
	
	#likeArea>span:hover {
		cursor:pointer;
		color : white;
		background : orange;
	}
	
	#cmtCount {
	    font-weight: bold;
	}
	
	#cmtCount label {
	    color : orange;
	}
	
	[class*=cmts] {
    border-bottom: 1px solid lightgray;
	}
	
	.cmtListArea {
		max-height: 600px;
   		overflow: auto;
   		padding : 0 7px;
	}
	
	.cmtHead>div{
	    float: left;
	}
	
	.cmtHead>span{
	    float: right;
	}
	
	.cmtHead i:hover {
		cursor : pointer;
	}
	
	.cmtBody {
	    padding : 5px 0;
	}
	
	.cmtFoot {
	    text-align: right;
	    font-size: 12px;
	    color : gray;
	    padding-bottom: 3px;
	}
	
	
	#cmtInsert {
	    display: flex;
	    align-items: center;
	    padding : 20px 0;
	}
	
	#ccontent {
	    border : 2px solid lightgray;
	    border-radius: 3px;
	}
	
	#ccontent:focus, #upCon:focus {
	    outline : none;
	}
	
	#cmtBtn {
	    margin-left: 10px;
	    width:110px;
	    height: 53px;
	    background: rgb(241, 241, 241);
	    border : 2px solid gray;
	    border-radius: 3px;
	    font-size: 17px;
	    font-weight: bold;
	}
	
	#cmtBtn:hover {
	    background: rgb(241, 241, 241);
	    cursor: pointer;
	}
	
	#btnArea {
		text-align : center;
		padding-top : 15px;
	}
	
	
	#btnArea button:hover {
		cursor : pointer;
	}
	
	#goList {
		font-size : 16px;
		color : orange;
		font-weight : bold;
		width : 100px;
		height : 40px;
		background : rgb(231, 231, 231);
		border : none;
		border-radius : 3px;
	}

	#btnArea2 {
		text-align : right;
	}
	
	
	#btnArea2 button:hover {
		cursor : pointer;
	}
	
	#btnArea2 button {
		font-size : 13px;
		font-weight : bold;
		width : 50px;
		height : 30px;
		border : none;
		border-radius : 3px;
	}
	
	#goList2 {
		color : orange;
		background : rgb(231, 231, 231);

	}
	
	#updateBtn2 {
		color : white;
		background : rgb(34, 170, 236);

	}
	
	#deleteBtn2 {
		color : white;
		background : rgb(254, 54, 64);
	}
	
	.cmtUpdate {
	    border-bottom: 1px solid lightgray;
	    padding-top : 3px;
	}
	
	.upHead>div{
	    float: left;
	}
	
	.upHead>span{
	    float: right;
	}
	
	
	.upBody {
	    padding : 5px 0;
	}
	
	.upFoot {
	    text-align: right;
	    font-size: 12px;
	    color : gray;
	    padding-bottom: 3px;
	}
	
	#cmtCon {
	    border : 2px solid lightgray;
	    border-radius: 3px;
	}

	