@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&display=swap');
@keyframes showTopText {
  0% { transform: translate3d(0, 100%, 0); }
  40%, 60% { transform: translate3d(0, 50%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
@keyframes showBottomText {
  0% { transform: translate3d(0, -100%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
.animated-title {
  color: #222;
  font-family: Do Hyeon, Arial, sans-serif;
  height: 400px;
  width: 1000px;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -70%);
}
.animated-title > div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.animated-title > div div {
  font-size: 40pt;
  padding: 12px 0;
  position: absolute;
}
.animated-title > div div span {
  display: block;
}
.animated-title > div.text-top {
  border-bottom: 5px solid #000;
  top: 0;
}
.animated-title > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}
.animated-title > div.text-bottom {
  bottom: 0;
  color: #ff7332;
  font-family: jua, Arial, sans-serif;
}
.animated-title > div.text-bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}
.animated-title > div.text-bottom:hover {
    cursor: pointer;
}
.introImg {
    width: 1000px;
    height: 400px;
    position: absolute;
    transform: translate(0, 60%);
    left: 16%;
    top: 250px;
}