@charset "UTF-8";

section {
	width: 1400px;
	height: auto;
	background: white;
	color: black;
	margin-left: auto;
	margin-right: auto;
	padding: 0 50px 50px 50px;
}

.category {
	width: 1200px;
	margin-left: 45px;
}

i { /* 카테고리 아이콘 */
	font-size: 24px;
	color: grey;
}

#cate { /* 카테고리 a태그 */
	font-size: 25px;
	text-decoration: none;
}

#btitle {
	font-size: 25px;
	width: 1280px;
	border: 0;
	border-bottom: 1px solid grey;
	padding: 10px;
}

#outline {
	width: 1300px;
	margin-left: 45px;
	border: 1px solid lightgrey;
	padding: 25px 25px 25px 25px;
}

#insertArea {
	width: 500px;
	width: 1300px;
	margin-left: 45px;
	border: 1px solid lightgrey;
	padding: 15px 15px 15px 15px;
}

.ck.ck-editor {
	max-width : 1300px;
}

.ck-editor__editable {
	min-height : 300px;
}

table {
	margin-left: -5px;
}

[id*=contentImgArea], #titleImgArea {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	margin: 10px;
}

[id*=ImgArea]:hover {
	cursor: pointer;
}

#thumbTitle {
	width : 319px;
	display : block;
	text-align : center;
	background-color : black;
	color : white;
	font-size : 14pt;
	margin-top : -29px;
	position : absolute;
}

.btnArea {
    display : block; 
	text-align: center;
}

.btnArea button {
	width: 100px;
	padding: 10px;
	border: 0;
	outline: none;
	color: orange;
	font-weight: bold;
	font-size: 15px;
}

.btnArea button:hover {
	cursor: pointer;
}